body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    width: 380px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://png.pngtree.com/png-clipart/20220704/original/pngtree-friends-and-couples-traveling-together-vector-png-image_8317722.png);
    background-size: cover;
    background-image: url(https://static.vecteezy.com/system/resources/previews/024/713/840/large_2x/group-of-tourists-standing-looking-at-sunset-generated-by-ai-free-photo.jpg);
}

header {
    background-color: black;
    color: white;
    height: 50px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    
}

section {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}